---
import Title from '@components/shared/title/Title.astro';
import { getCollection } from 'astro:content';
import BlogCard from '@components/shared/blog/BlogCard.astro';

interface Props {
    data: MD;
}


const {
    data
} = Astro.props;

const {
    title,
} = data.frontmatter;

const Content = data.Content;


const articles: Article[] = await getCollection('blog');


---
<div id="subheader">
    <div class="flex flex-col gap-4 z-10 container pt-[120px]">
        <Title text={title} tag="h1" />
        <div class="subheader cms">
            <Content/>
        </div>
        <div class="flex gap-8 justify-center flex-wrap blog-list">
            {articles.map(article => (
                <BlogCard 
                    title={article.data.title} 
                    excerpt={article.data.except} 
                    source={article.data.source}
                    url={article.data.url}
                />
            ))}
        </div>

    </div>
</div>

<style lang="scss">
    .blog-list {
        &::after{
            content: "";
            flex: auto;
        }
    }
</style>
